/*Dropdown*/
    .acordeon
    {
        /*Position*/
            display: flex;
            flex-direction: column;

        /*Size*/
            width: 100%;
            border: 1px solid #fff;
            border-radius: 1rem;
            margin: 1rem 0;

        /*Animation*/
            transition: .25s;
    }

/*Dropdown Aberto*/
    .acordeon.acordeon.open,
    .acordeon:hover
    {
        /*Background*/
            background-color: #55569E;

        /*Size*/
            border: 1px solid #55569E;
    }


/*Dropdown <Button>*/
    .acordeon .trigger
    {
        /*Position*/
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

        /*Text*/
            font-size: 1.5rem;
            font-weight: 700;
            color: white;

        /*Size*/
            padding: 1rem 2rem;
            border: none;

        /*Background*/
            background-color: transparent;
    }
    .acordeon .trigger:hover
    {
        /*Pointer*/
            cursor: pointer;
    }

/*Dropdown <h2>*/
    .acordeon .trigger h2
    {
        /*Text*/
            font-size: 1.5rem;
            text-align: start;

        /*Size*/
            margin: 0;
    }

/*Dropdown Flecha*/
    .acordeon .trigger::after
    {
        /*Content*/
            content: '';

        /*Size*/
            width: 2rem;
            height: 1rem;

        /*Background*/
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(/assets/img/icons/arrow.svg);

        /*Position*/
            display: inline-block;
            transform: rotate(180deg);

        /*Animations*/
            transition: .25s;

    }

/*Dropdown Flecha Aberto*/
    .acordeon.open .trigger::after
    {
        /*Position*/
            transform: rotate(0deg);
    }
/*Dropdown conteudo*/
    .acordeon .content
    {
        /*Position*/
            overflow: hidden;

        /*Size*/
            height: 0;

        /*Opacity*/
            opacity: 0;

        /*Animations*/
            transition: .25s easy-in-out;
    }

/*Dropdown conteudo aberto*/
    .acordeon.open .content
    {
        /*Position*/
            display: inline-block;

        /*Size*/
            height: 100%;
            padding: 0 1rem 1rem 2rem;

        /*Opacity*/
            opacity: 1;
    }