/*Lista de Experiencia (ul)*/
    .experience
    {
        /*Size*/
            margin: 0;
            padding: 0;

        /*Position*/
            display: flex;
            flex-direction: column;

        /*List*/
            list-style: none;
    }

/*Itens da lista experiencia (li)*/
    .experience li 
    {
        margin-bottom: 1rem;
    }

/*Data da Experiencia*/
    .experience li .period
    {
        /*Position*/
            display: flex;
            flex-direction: row;
            align-items: center;
    }

/*Icone Calendario*/
    .experience li .period::before
    {
            /*Content*/
                content: '';

            /*Size*/
                width: 1rem;
                height: 1rem;

            /*Background*/
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url(/assets/img/icons/calendar.svg);

            /*Position*/
                display: inline-block;
                margin-right: .5rem;
    }