/*Lista de Skills (ul)*/
    .skills
    {
        /*Position*/
            display: flex;
            flex-direction: column;
    }

/*Itens da lista de skills (li)*/
    .skills .tools ul
    {
        /*Position*/
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

        /*Size*/
            margin: 0;
            padding: 0;

        /*List*/
            list-style: none;
    }

/*Imagem da linguagem de programação*/
    .skills .tools ul li img
    {
        /*Size*/
            max-width: 50px;
            margin: 0 .5rem;
    }

/*Lista de Habilidades Pessoais (Ul)*/
    .skills .personal ul
    {
        /*Position*/
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

        /*Size*/
            margin: 0;
            padding: 0;
    }

/*Itens da lista de habilidades pessoais (li)*/
.skills .personal ul li
{
    /*Size*/
        margin-left: 2rem;
        padding: .5rem;
}

/*Medias*/
@media only screen and (min-width: 768px)
{
    .skills
    {
        /*Position*/
            display: grid;
            grid-template-columns: 1fr 1fr;
    }
    
}